@import "tailwindcss";
@plugin "daisyui";
@keyframes jelly {
  0% { transform: scale(1); }
  30% { transform: scale(1.4, 0.8); }
  50% { transform: scale(0.9, 1.2); }
  70% { transform: scale(1.15, 0.95); }
  100% { transform: scale(1); }
}

.animate-jelly {
  animation: jelly 0.45s ease;
}